.emp-details{
    display: flex;
    align-items: center;
    justify-content: center;
}

.emp-details .emp-info table thead tr th{
    font-size: 1.7rem;
    padding: 0.6rem 1rem;
    background: #cf0505;
    color: #ffffff;
    border: 0.2rem solid #ffffff;
    text-align: center;
}

.emp-details .emp-info table tbody tr td{
    font-size: 1.5rem;
    padding: 0.6rem 1rem;
    text-align: center;
    border: 0.2rem solid rgba(0, 0, 0, 0.2);
}

.emp-details .emp-info table tbody tr td .btn{
    font-size: 1.4rem;
}

.emp-details .emp-info table tbody tr td .btn:hover{
    opacity: 0.8;
}