.header{
    background: #cf0505;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.1);
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.header .container .logo a{
    text-decoration: none;
    font-size: 2rem;
    color: #ffffff;
    font-weight: bolder;
}

.header .container .contents a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #ffffff;
    padding: 1rem 1.5rem;
}

.header .container .contents a:hover{
    background: #ffffff;
    color: #cf0505;
    border-radius: 0.2rem;
}

.header .container .logos-symbol a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #ffffff;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    background: #e7462a;
    border-radius: 50%;
    text-align: center;
}

.header .container .logos-symbol a:hover{
    transform: rotate(360deg);
}