.event-details{
    margin-top: 11rem;
}

.event-details .row .col-12 .row .heading h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-details .row .col-12 .row .heading h2 button{
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    border-radius: 50%;
    color: #ffffff;
    background: #032564;
    margin-left: 1rem;
}

.event-details .row .col-12 .row .heading h2 button:hover{
    background: #0795e7;
}