.form-container{
    margin-top: 11rem;
}

.form-container .form-box .form-dtls{
    transform: translateX(50%);
    border: 0.2rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.form-container .form-box .form-dtls form h3{
    text-align: center;
    font-size: 2.5rem;
    color: #032564;
    text-decoration: underline;
}

.form-container .form-box .form-dtls form label{
    font-size: 1.5rem;
}

.form-container .form-box .form-dtls form input{
    font-size: 1.5rem;
}

.form-container .form-box .form-dtls form select{
    font-size: 1.5rem;
}

.form-container .form-box .form-dtls form .btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}

.form-container .form-box .form-dtls form .btns .btn{
    font-size: 1.5rem;
    background: #032564;
    color: #ffffff;
}

.form-container .form-box .form-dtls form .btns .btn:hover{
    letter-spacing: 0.1rem;
    transition: 0.3s linear;
}