*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.3s linear;
}

html{
  font-size: 62.5%;
}