.App {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
min-height: 100vh;

  background: rgb(232, 247, 255);
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  overflow: hidden;
  overflow-x: hidden;
width:100%;
}
body{
  background: rgb(232, 247, 255);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  color:  rgba(0, 40, 73, 0.568);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #0b3155;
  color: rgb(255, 63, 89)
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
